body {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  padding-top: 40px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.logo-link {
  margin-right: 50px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-menu-item {
  padding-right: 30px;
}

.nav-menu-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}

.date {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 35px;
}

.film-desc {
  max-width: 423px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 40px;
}
.button-group {
  margin-top: 70px;
  margin-bottom: 145px;
}

.button {
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.button-icon,
.button-text {
  display: inline-block;
  vertical-align: middle;
}

.button-icon {
  padding-right: 10px;
}

.button-link {
  color: #fff;
  margin-left: 20px;
}

.venom {
  position: absolute;
  right: 0;
  top: 0;
}

.blood {
  background: url("../img/blood.png") no-repeat top right,
    #14131a url("../img/back.png") no-repeat center center / cover;
}
