body {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  padding-top: 40px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.logo-link {
  margin-right: 50px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-menu-item {
  padding-right: 30px;
}

.nav-menu-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}

.date {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 35px;
}

.film-desc {
  max-width: 423px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 40px;
}
.button-group {
  margin-top: 70px;
  margin-bottom: 145px;
}

.button {
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.button-icon,
.button-text {
  display: inline-block;
  vertical-align: middle;
}

.button-icon {
  padding-right: 10px;
}

.button-link {
  color: #fff;
  margin-left: 20px;
}

.venom {
  position: absolute;
  right: 0;
  top: 0;
}

.blood {
  background: url("../img/blood.png") no-repeat top right,
    #14131a url("../img/back.png") no-repeat center center / cover;
}

.primery-body {
  background: #14131a url("../img/back.png") no-repeat center center / cover;
}

.content {
  display: flex;
}

.content-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.8);
}

.content-text {
  max-width: 423px;
  font-size: 16px;
  line-height: 140%;
}

.col {
  flex-basis: 50%;
}

.content-subtitle {
  margin-top: 30px;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

.column-2 {
  column-count: 2;
  column-gap: 20px;
}

.list {
  list-style: none;
  padding: 0;
  max-width: 312px;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

.trailer {
  background: url("../img/trailer.jpg");
  width: 356px;
  height: 205px;
  margin-top: 33px;
  margin-bottom: 125px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
}

.play-icon-trailer {
  transform: translate(1px, 2px);
}

.poster-wrapper {
  display: flex;
  align-items: start;
}

.poster {
  width: 362px;
  height: 543px;
  border-radius: 5px;
}

.poster-wrapper .content-subtitle {
  margin-top: 0;
  margin-left: 30px;
}

.poster-wrapper ul {
  margin-bottom: 20px;
  margin-left: 30px;
}
